.addnew__other {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.addnew__other .ant-select-selector {
    background: #f1f3f5 !important;
    border: none !important;
    outline: none !important;
    min-width: 362px;
}

.addnew__other-input-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
    width: 520px;
}

.addnew__other-label {
    color: #11181c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    min-width: 162px;
}

.addnew__other-select {
    color: #687076;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 12px;
    min-width: 362px;
    height: 46px;
    border-radius: 6px;
    background: #f1f3f5;
    border: none;
    outline: none;
}

.addnew__other-textarea {
    color: #11181c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    min-width: 362px;
    min-height: 80px;
    display: flex;
    height: 80px;
    padding: 8px 12px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 6px;
    background: #f1f3f5;
    border: none;
    outline: none;
    resize: none;
}

.addnew__other-document {
    border-radius: 6px;
    border: 1px solid #dfe3e6;
    width: 100%;
}

.ant-table {
    width: 100%;
}

.addnew__other-column {
    width: 30%;
}

.addnew__other-column:first-child {
    width: 10%;
}

.addnew__other-upload {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 560px;
    height: 46px;
    padding: 40px 20px;
    gap: 16px;
    border-radius: 12px;
}

.addnew__other-heading {
    min-width: 162px;
    color: #11181c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}

.addnew__other-table {
    margin: 0 20px;
}

.addnew__other-button {
    color: #0091ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 10px;
    height: 32px;
    gap: 6px;
    border-radius: 6px;
    border: 1px dashed #0091ff;
    background: #edf6ff;
}

.addnew__other-delete {
    width: 100px;
    color: #e5484d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 8px 12px;
    gap: 10px;
    border-radius: 6px;
    background: #ffefef;
}

.addnew__other-delete-button {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.addnew__other-delete-button img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    cursor: pointer;
}

.addnew__other-delete-button.disabled {
    display: none;
}
