.addnew-container {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
  gap: 10px;
  border-radius: 12px;
  background: #fbfcfd;
  box-shadow: 0px 5px 20px 0px #f1f3f5;
}

.addnew__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addnew__header-heading {
  color: #11181c;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.addnew__header-desc {
  color: #687076;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.required {
  color: #e5484d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.addnew__header-line {
  border: 1px solid #dfe3e6;
}

.addnew__employee {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.addnew__employee-input-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.addnew__employee-input-wrapper {
  flex-grow: 1;
  width: 100%;
}

.addnew__employee-label {
  min-width: 162px;
  color: #11181c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
  margin-right: 16px;
}

.addnew__employee-input {
  color: #11181c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
  display: flex;
  align-items: center;
  height: 46px;
  padding: 8px 12px;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 6px;
  background: #f1f3f5;
  border: none;
  outline: none;
  width: 100%;
}

.addnew__employee-select {
  color: #11181c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 12px;
  border-radius: 6px;
  background: #f1f3f5;
  border: none;
  outline: none;
  height: 46px;
  width: 100%;
}

.addnew__employee-select:focus {
  background: #e5e7e9;
}
.addnew__employee-select option {
  background: #fafbfb;
}

.addnew__employee-date-box {
  font-size: 20px;
  width: 100%;
  background: #f1f3f5;
  height: 46px;
  border: none;
  outline: none;
}

.addnew__employee-date-box:hover {
  background: #f1f3f5;
}

.addnew__employee-date-box .ant-picker-input {
  color: #11181c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
}

.addnew__employee-input.disabled {
  color: rgb(104, 112, 118);
  background: #dadadb;
  cursor: not-allowed;
}

.addnew__employee-input.error {
  border: 1px solid #f3aeaf;
  background: #ffefef;
}

.addnew__employee-select.error {
  border: 1px solid #f3aeaf;
  background: #ffefef;
}

.addnew__employee-date-box.error {
  border: 1px solid #f3aeaf;
  background: #ffefef;
}

@media screen and (max-width: 1024px) {
  .addnew__employee {
    grid-template-columns: 1fr;
  }
}
