.addNew__cta-add {
    height: 45px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #0091ff;

    color: #f1f3f5;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}

.addNew__cta-save {
    width: 142px;
    height: 48px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    color: #fff;
    background: #0091ff;

    color: #e9f9ee;

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
}

.table-wrapper .ant-tabs-tab {
    display: flex;
    min-width: 180px;
    height: 42px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #0091ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    border-radius: 6px !important;
    background: #e1f0ff !important;
}

.table-wrapper .ant-tabs-tab.ant-tabs-tab-active {
    background: #0091ff !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fbfdff !important;
}

/*  */
.addnew__tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}
